
  <div class="card">
    <h3 class="card-comment-title">Leave a Comment</h3>
    <form action="/html/tags/html_form_tag_action.cfm" method="post">
<div>
<textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
Leave a comment
</textarea>
</div>
<input type="submit" value="Submit">
</form>
    <h3 class="card-content">{{content}}</h3>
    <p class="card-info">By {{user.name}} on {{format_date createdAt}}</p>
  </div>
