
  <div class="card" id="comment-{{id}}">
    {{!-- <h3 class="card-comment-title">Comment on this post</h3> --}}
    <h3 class="card-content">{{content}}</h3>
      {{!-- {{#ifCond sender_id '==' 8 }}
      delete
   {{/ifCond}} --}}


    <p class="card-info">By {{sender_name}} on {{format_date created_at}}</p>
    {{#if deletable}}
      delete button
    {{/if}}
  </div>
