<script src="//cdn.jsdelivr.net/npm/phaser@3.24.0/dist/phaser.min.js"></script>
<script type= "module" src="/js/phaser.js"></script>

 <h1>Content above parent</h1>
<div id="parent"></div>
<h1>Content below parent</h1>
<footer><div id=version></div></footer>