<script src="//cdn.jsdelivr.net/npm/phaser@3.24.0/dist/phaser.min.js"></script>
<script src="/js/game/Main.js"></script>
<script src="/js/game/Intro.js"></script>
<script src="/js/game/gameinit.js"></script>

<div class="mt-20 vh-100">
 <!--<h1>parent</h1>-->
<div id="parent"></div>

<!--<h1>Content below parent</h1>-->
<footer><div id=version></div></footer>
</div>