<class id="friendTitle">
    <div id="friends">
    <table id="friend-list" class="table table-hover table-dark mb-4">
  <thead>
    <tr>
      <th scope="col"> Friend </th>
      <th scope="col">Highscore </th>
    <th scope="col"> Friends Since </th>
      <th scope="col"> View Friend </th>
    </tr>
  </thead>
  <tbody id="friend-list3">
      {{#each user.friend as |friend|}}

     {{/each}}
  </tbody>
</table>
    <button id="viewFriends" class="d-inline-block mx-auto py-2 px-4 rounded-full text-white" type="submit"> 
   View Friends</button> 
</div>
</class>
<script src="../js/friend-request.js"></script>
