<title>Friend Requests</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <h1>Friend Requests</h1>
  <div>
    <label for="senderEmail">Sender email:</label>
    <input type="email" id="senderEmail" name="senderEmail" required>
  </div>
  <div>
    <label for="receiverEmail">Receiver email:</label>
    <input type="email" id="receiverEmail" name="receiverEmail" required>
  </div>
  <button id="sendFriendRequest">Send Friend Request</button>
  
  <button id="getPendingRequests">Get Pending Requests</button>
  <div id="friend-requests-list-container" style="display:none;">
    <h2>Pending Friend Requests</h2>
    <div id="pendingRequests">
    <ul id="friend-requests-list"></ul>
    </div>
  </div>

<script src="./js/friend-request.js"></script>