<title>Friend Requests</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <h1>Friend Requests</h1>
  <div>
    <label for="receiverEmail">Receiver email:</label>
    <input type="email" id="receiverEmail" name="receiverEmail" required>
  </div>
  <button id="sendFriendRequest">Send Friend Request</button>
  
  <button id="getPendingRequests">Get Pending Requests</button>
  <div id="friend-requests-list-container" style="display:none;">
    <h2>Pending Friend Requests</h2>
    <div id="pendingRequests">
    <ul id="friend-requests-list"></ul>
    </div>
  </div>
      <a class="viewFriends" href="/friends">View Friends</a>


<script src="./js/friend-request.js"></script>