<h1 class="text-center"> Instructions </h1>
<ul class="text-center">
    <li> Collect gold cards and earn currency!
    </li>
    <li> Avoid zodiac enemies and get the stars before they drop.
    </li>
    <li> Your score and your currency will be reflected in your profile page.
    </li>
    <li> With luck, you will also appear on the leaderboard.
    </li>
</ul>