<h1 class="text-center"> Instructions </h1>
<ul class="text-center">
    <li> Collect tokens and increase your score!
    </li>
    <li> Your score and your currency will be reflected in your profile page.
    </li>
    <li> With luck, you will also appear on the leaderboard.
    </li>
</ul>