
:root {
    --primary-light: #8e8aff;
    --primary: rgb(101, 93, 255);
    --primary-dark: rgb(105, 58, 207);
  --special: rgb(24, 193, 145);
    --greyLight-1: #e0ecf7; 
    --greyLight-2: #c8dbf0;
    --greyDark-1: #92acc4;
    --greyDark-2: #5a768f;
  }


body {
    background: linear-gradient(-45deg,#000000,
    #060a21,
    #1b275a,
    #5854a9,
    #7cbac9);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    p {
        font-family: "quantico", sans-serif;
    }
    
     h5, th {
        font-family: 'Goldman', cursive;
    }
    
    h1, h2, h3 {
        font-family: 'Goldman', cursive;
        font-weight: 700;
    }

    #parent {
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
  }
   
  #selectSprite, #viewInstructions, #viewProfile {
     
        font-family: 'IBM Plex Sans', sans-serif;
        background-color: var(--special);
    
  }
  #selectSprite:hover, #viewInstructions:hover, #viewProfile:hover {
     
    font-family: 'IBM Plex Sans', sans-serif;
    background-color:  rgb(18, 168, 125);


}

@media only screen and (min-width : 320px) {
      #stars {
        display: none;
      }  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}