:root {
    --primary-light: #8e8aff;
    --primary: rgb(101, 93, 255);
    --primary-dark: rgb(105, 58, 207);
  --special: rgb(24, 193, 145);
    --greyLight-1: #e0ecf7; 
    --greyLight-2: #c8dbf0;
    --greyDark-1: #92acc4;
    --greyDark-2: #5a768f;
  }

#leave-comment {
    font-size: 12px;
    text-decoration: none;
    margin: 0%;
}
#view-comment {
    font-size: 12px;
    text-decoration: none;
    margin: 0%;
}

td {
    font-family: "quantico", sans-serif;
}

 p {
    font-family: "quantico", sans-serif;
}

 h5, th {
    font-family: 'Goldman', cursive;
}

h1, h2, h3 {
    font-family: 'Goldman', cursive;
    font-weight: 700;
}

#sendFriendRequest {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--primary);  
    font-size: .8rem;
}
#sendFriendRequest:hover {
    font-family: 'IBM Plex Sans', sans-serif;

    background-color: #4f48d8;  
    font-size: .8rem;
}

#viewAddFriend {
    font-family: 'IBM Plex Sans', sans-serif;
    border:3px solid;
    border-color: var(--special);  
    font-size: .7rem;
}
#viewAddFriend:hover {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--special);
}
#getPendingRequests {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: .7rem;
    border:3px solid;
    border-color: var(--special);  
}
#getPendingRequests:hover {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--special);
}

body {
    background: linear-gradient(-45deg,#000000,
    #141735,
    #302c70);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    
    }
    
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    h1 {
        font-size: 4rem;
    }

    #boxes {
        border-radius: 30px;
        background-color: #444072;
        /*box-shadow: 0px 1px 18px 1px #100d1d;*/
    }

    #boxes:hover {
        scale: 1.01;
        background-color: #4f4986;
        /*box-shadow: 0px 1px 25px 1px #100d1d;*/
    }
    #offside, #friend-partial {
        border-radius: 30px;
        background-color: #413d6f;
    }

    #offside:hover, #friend-partial:hover {
        scale: 1.01;
        background-color: #514c89;
    }
    #card-body {
        border-radius: 10px;
        background-color: #1f1d38;
        border-color: #1f1d38;
    }
.material-symbols-outlined {
    color:#06e0a2;
}
.badge {
    background-color: var(--special);
}



/* STYLING FOR FRI3END FORM */ 
#add-friends-container .form-group {
    position: relative;
  }
 

 #add-friends-container .form-group input {
    width: 80%;
    padding: 10px 0;
    font-size: 16px;
    color: #c2bfff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
 

/* STYLING FOR CHART */ 
#score {
    transform: translateX(-52%) rotate(-90deg);
    color: white;
}





/* COMMENT STYLE */ 
.add-comment {
    margin: 20px;
    text-align: center;
    border: solid black;
    background-color: white;
  }
  
  .add-comment-title {
    margin: 5px;
    color: white;
  }
  
  #content-newcomment  {
    width: 95%;
    padding: 2px;
    margin: 5px;
  }
  
  .commentbtn {
    margin: 5px;
    font-size: 15px;
  }

  #boxes2 {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 1500px) and (min-width: 1400px)  {
    #friends-box {
      width: 800px;
    }
    #profile-box {
        width:900px
    }
    #global-box {
        width:400px
    }

}

@media only screen and (max-width: 1030px) and (min-width: 1020px)  {
    #graph-box {
        margin-bottom:50px;
    }

}

@media only screen and (max-width:770px) and (min-width: 300px)  {
    #graph-box {
        margin-bottom:50px;
    }
    #comment-box {
        margin-bottom:50px;
    }
}